Q1/q1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
<xs:element name="records">
    <xs:complexType>
	    <xs:sequence>
	        <xs:element name="student" maxOccurs="unbounded">
		        <xs:complexType>
			        <xs:sequence>
		                <xs:element name="rollno" type="xs:integer"/>
		                <xs:element name="firstname" type="xs:string"/>
		                <xs:element name="lastname" type="xs:string"/>
		                <xs:element name="marks" type="xs:integer"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>